html::selection {
    background-color: #ff8059;
    color: white;
}

.elementor-148 .elementor-element.elementor-element-2292e97>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-148 .elementor-element.elementor-element-c385779 {
    text-align: center
}

.elementor-148 .elementor-element.elementor-element-8b314e8 {
    text-align: right
}

@media(max-width:767px) {
    .elementor-148 .elementor-element.elementor-element-c385779 {
        text-align: center
    }
    .elementor-148 .elementor-element.elementor-element-8b314e8 {
        text-align: center
    }
}