.elementor-91 .elementor-element.elementor-element-852e3c9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-91 .elementor-element.elementor-element-6b2395b {
    text-align: left
}

.elementor-91 .elementor-element.elementor-element-6b2395b img {
    width: 88px
}

.elementor-91 .elementor-element.elementor-element-c48ea9c {
    text-align: right
}

html::selection {
    background-color: #ff8059;
    color: white;
}